/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-image: url(bck.jpg);
  color: palevioletred;
  line-height: 1.8;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

/* Header */
header {
  background-color: pink;
  padding: 15px 0;
  color: white;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: pink;
}

/* Nav */
nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav a {
  color: purple;
  text-decoration: none;
  font-weight: bold;
}

/* Tombol Tambah ke Keranjang */
.tambah-keranjang {
  background-color: purple;
  color: palevioletred;                    /* Warna teks */
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.tambah-keranjang:hover {
  background-color: deeppink; /* Warna saat hover */
}
